
<div class="hero-unit">
	<h1>jdeleon testing 123</h1>
	<p>
	  You've found the home page for the
	  <%= link_to "One Month Rails", "http://onemonthrails.com", class: 'btn btn-primary'%>
	  application.
	</p>
</div>
