
$baseFontFamily: Ubuntu;
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/*assinging styles to pre-existing classes*/
$navbarBackground: white;

@import 'bootstrap';

body {

	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: gray;
	}
}

.box {
	margin: 5px;
	padding: 10px;
	font-size: 12px;
	line-height: 1.4em;
	float: left;
	box-shadow: 1px 1px 10px #444;
	width: 220px;
}

.box img {
	display: block;
	width: 100%;
}